footer {
  position: relative;
  background-image: url(/assets/images/book-trace-background.png);
  background-repeat: no-repeat;
  height: 415px;

  /* Logo */
  & img {
    width: 158px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: var(--s12);
  }
  & .line {
    width: 311px;
    margin: 0 auto var(--s20) auto;
    border: 1px solid var(--shape-stroke);
  }
  
  & .links {
    display: flex;
    gap: var(--s40);
    
    & .content-links, .help-links {
      & li {
        margin-bottom: var(--s16);
      }
    }
  }
  &.container {
    padding: var(--s32);
  }
  & .social {
    position: relative;
    z-index: 0; 
  }
}



/* Media Queries */

@media (width > 375px) {
  footer {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    background-size: 100% 415px;

    /* Logo */
    & img {
      width: 264px;
      margin-top: 0;
    }
    & .line {
      width: 311px;
    }
    
    & .links {
      /* display: flex; */
      gap: var(--s40);

      & .content-links, .help-links {
        & li {
          margin-bottom: var(--s16);
        }
      }
    }
    &.container {
      padding-top: 80px;
    }
    & .social {
      margin-bottom: 0;
    }
  }
}