nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Logo */
  & img {
    width: 60px;
  }

  & button {
    width: 89px;
    height: 40px;
  }
}



/* Media Queries */
@media (width > 375px) {
  .desktop-only { display: initial; }
  .mobile-only { display: none;}

  nav {
    margin-top: 42px;
    margin-bottom: 135px;
    padding-inline: 160px;
    
    & img {
      width: 230px;
      height: 58px;
    }
  }
}