:root {
  --s4: 0.25rem;
  --s8: 0.5rem;
  --s10: 0.625rem;
  --s12: 0.75rem;
  --s14: 0.875rem;
  --s16: 1rem;
  --s20: 1.25rem;
  --s24: 1.5rem;
  --s28: 1.75rem;
  --s32: 2rem;
  --s48: 3rem;
}

/* Utility Classes */
.container {
  max-width: ;
  margin: auto;
  padding:;
}

.desktop-only { display: none; }