:root {
  --s4: 0.25rem;
  --s8: 0.5rem;
  --s9: 0.5625rem;
  --s10: 0.625rem;
  --s12: 0.75rem;
  --s14: 0.875rem;
  --s16: 1rem;
  --s20: 1.25rem;
  --s24: 1.5rem;
  --s28: 1.75rem;
  --s32: 2rem;
  --s40: 2.5rem;
  --s48: 3rem;
  --s70: 4.375rem;
}

/* Utility Classes */
.container {
  max-width: 375px;
  margin: auto;
  padding: 20px;
}

.desktop-only { display: none; }
.mobile-only { display: initial; }



/* Media Queries */
@media (width > 375px) {
  .container {
    max-width: 1440px;
  }
}