:root {
  /* Font Family */
  --font-family: "Raleway", sans-serif;

  /* Font Sizes */
  --fs-48: 3rem;
  --fs-40: 2.5rem;
  --fs-32: 2rem;
  --fs-20: 1.25rem;
  --fs-16: 1rem;
  --fs-14: 0.875rem;
  --fs-12: 0.75rem;
  --fs-10: 0.625rem;

  /* Font Weights */
  --fw-bold: 700;
  --fw-medium: 500;
  --fw-regular: 400;

  /* Combinations */
  /* Title and Subtitle */
  --title-lg: var(--fw-bold) var(--fs-48) var(--font-family);
  --title-md: var(--fw-bold) var(--fs-40) var(--font-family);
  --title-sm: var(--fw-bold) var(--fs-32) var(--font-family);
  --title-xs: var(--fw-bold) var(--fs-16) var(--font-family);
  --subtitle: var(--fw-medium) var(--fs-32)/2.0 var(--font-family);

  /* Body */
  --body-lg: var(--fw-regular) var(--fs-20)/1.4 var(--font-family);
  --body-md: var(--fw-regular) var(--fs-16)/1.4 var(--font-family);
  --body-sm: var(--fw-regular) var(--fs-14)/1.4 var(--font-family);
  --body-xs: var(--fw-regular) var(--fs-14)/1.4 var(--font-family);

  /* Others */
  --button: var(--fw-bold) var(--fs-14) var(--font-family);
  --link: var(--fw-medium) var(--fs-14) var(--font-family);
  --tag: var(--fw-bold) var(--fs-10) var(--font-family);

}

label {
  font: var(--tag);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}